{% extends "layout.html" %}
{% block body_content %}
<div class="container">
    <h2>Mood Diary</h2>
    {% if moods %}
        <ul>
        {% for mood in moods %}
            <li>
                <img src="{{ url_for('static', filename=mood['mood_image_url']) }}" alt="{{ mood['mood_name'] }} Monster">
                <p>Mood: {{ mood['mood_name'] }}</p>
                <p>Date Logged: {{ mood['date_logged'].strftime('%Y-%m-%d %H:%M:%S') }}</p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No moods logged yet.</p>
    {% endif %}
</div>
{% endblock %}
