{% extends "layout-pre-login.html" %}
{% block body_content %}
<div class="container-xxl py-4">
    <div class="container">
        <div class="text-center">
            <h1 class=" titles colour-3 m-4">{{title}}</h1>
        </div>
        <div class="d-flex justify-content-center mb-4">
            <button id="child-btn" class="btn rounded-pill border-2 mt-2 px-4 py-2 fs-5 {% if show_error_grownup %} btn-primary {%else %}btn-primary-toggle{% endif %} me-2">Child Login</button>
            <button id="parent-btn" class="btn rounded-pill border-2 mt-2 px-4 py-2 fs-5 {% if show_error_grownup %} btn-primary-toggle {%else %}btn-primary{% endif %}">Adult Login</button>
        </div>
        <!-- ERROR HANDLING MESSAGE -->
        <div class="d-flex align-items-center justify-content-center py-4 {% if show_error_grownup %} d-none {% endif %}" id="child-login">
            <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                <div class="section-form p-5">
                    <h2 class="text-center titles colour-6">Child Login</h2>
                    {% if show_error_child %}
                    <p>* invalid username. Try again.</p>
                    {% endif %}
<!--                    CHILD LOGIN FORM-->
                    <form action="{{ url_for('login_route') }}" method="POST">
                        <input type="hidden" name="login_type" value="child"> <!-- Added hidden field for child login -->
                        <label for="child_username">Username:</label><br>
                        <input type="text" id="child_username" name="username" required>

                        <label for="child_pin">PIN:</label><br>
                        <input type="password"  id="child_pin" name="pin" required><br><br>

                        <input type="submit" value="Login" class="btn btn-primary rounded-pill border-2 mt-2 px-4 py-2 fs-5">

                    </form>
                </div>
            </div>
        </div>
        <!-- ERROR HANDLING MESSAGE -->
        <div class="d-flex align-items-center justify-content-center py-4 {% if show_error_grownup %} {% else %} d-none {% endif %}" id="parent-login">
            <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                <div class="section-form p-5">
                    <h2 class="text-center titles colour-6">Adult Login</h2>
                    {% if show_error_grownup %}
                    <p>* invalid username or password details. Try again.</p>
                    {% endif %}
<!--                    GROWN-UP LOGIN FORM-->
                    <form action="{{ url_for('login_route') }}" method="POST">
                        <input type="hidden" name="login_type" value="grownup"> <!-- Added hidden field for grownup login -->
                        <label for="grown_up_username">Username:</label><br>
                        <input type="text" id="grown_up_username" name="username" required>

                        <label for="pin">PIN:</label><br>
                        <input type="password" id="pin" name="pin" required><br><br>

                        <input type="submit" value="Login" class="btn btn-primary rounded-pill border-2 mt-2 px-4 py-2 fs-5">
                    </form>
                </div>
            </div>
        </div>
    <div class="spacer"></div>
    </div>
</div>

<script>
    const childLogin = document.getElementById("child-login");
    const parentLogin = document.getElementById("parent-login");
    const childBtn = document.getElementById("child-btn");
    const parentBtn = document.getElementById("parent-btn");

    childBtn.onclick = function() {
        childBtn.classList.remove('btn-primary-toggle');
        childBtn.classList.add('btn-primary');
        parentBtn.classList.remove('btn-primary-toggle');
        parentBtn.classList.add('btn-primary');
        childLogin.classList.remove('d-none');
        parentLogin.classList.add('d-none');
    };

    parentBtn.onclick = function() {
        childBtn.classList.remove('btn-primary-toggle');
        childBtn.classList.add('btn-primary');
        parentBtn.classList.remove('btn-primary-toggle');
        parentBtn.classList.add('btn-primary');
        childLogin.classList.add('d-none');
        parentLogin.classList.remove('d-none');
    };
</script>
{% endblock %}
