{% extends "layout.html" %}
{% block body_content %}

    <form action="/register" method="post">
        <h2>Adult Information</h2>
        <label>First Name:</label>
        <input type="text" name="adult_first_name" required><br>
        <label>Last Name:</label>
        <input type="text" name="adult_last_name" required><br>
        <label>Email:</label>
        <input type="email" name="adult_email" required><br>
        <label>Relationship to Child:</label>
        <input type="text" name="relationship" required><br>

        <h2>Child Information</h2>
        <label>First Name:</label>
        <input type="text" name="child_first_name" required><br>
        <label>Last Name:</label>
        <input type="text" name="child_last_name" required><br>
        <label>Date of Birth:</label>
        <input type="date" name="child_dob" required><br>

        <label>Shared PIN:</label>
        <input type="password" name="shared_pin" required><br>

        <input type="submit" value="Register">
    </form>


{% endblock %}