{% extends "layout.html" %}
{% block body_content %}
<div class="container-xxl py-4">
    <div class="container">
        <div class="text-center">
            <h1 class="section-title mb-4">{{title}}</h1>
        </div>
        <div class="d-flex align-items-center justify-content-center py-4">
            <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                <div class="section-form rounded p-5">
                    <form action="" method="POST">
                        <!-- Child Registration -->
                        <div>
                            <p>Child Registration:</p>
                        </div>
                        <div>
                            <label for="child-firstname">First Name:</label>
                            <input type="text" id="child-firstname" name="child-firstname" placeholder="child's first name" required>
                        </div>
                        <div>
                            <label for="child-lastname">Last Name:</label>
                            <input type="text" id="child-lastname" name="child-lastname" placeholder="child's last name" required>
                        </div>
                        <div>
                            <label for="child-username">Username:</label>
                            <input type="text" id="child-username" name="child-username" placeholder="child's username" required>
                        </div>
                        <div>
                            <label for="child-age">Age:</label>
                            <input type="text" id="child-age" name="child-age" placeholder="child's age" required>
                        </div>
                        <!-- Grown-Up Registration -->
                        <div>
                            <p>Grown-Up Registration:</p>
                        </div>
                        <div>
                            <label for="grownup-firstname">First Name:</label>
                            <input type="text" id="grownup-firstname" name="grownup-firstname" placeholder="grown-ups first name" required>
                        </div>
                        <div>
                            <label for="grownup-lastname">Last Name:</label>
                            <input type="text" id="grownup-lastname" name="grownup-lastname" placeholder="grown-ups last name" required>
                        </div>
                        <div>
                            <label for="grownup-username">Username:</label>
                            <input type="text" id="grownup-username" name="grownup-username" placeholder="grown-ups username" required>
                        </div>
                        <div>
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" placeholder="grown-ups email" required>
                        </div>
                        <div class="py-3">
                            <input type="checkbox" id="nomination" name="nomination">
                            <label for="nomination">I confirm I'm the nominated grown-up</label>
                        </div>
                        <div>
                            <input class="btn btn-primary rounded-pill py-2 px-4" type="submit" value="Register">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}