{% extends "layout.html" %}
{% block body_content %}

<!-- Section for Child's last logged mood (No Wave) -->
<div class="container-xxl pt-5">
    <div class="row justify-content-center">
        <div class="col-md-10 pb-5">
            <h1 class="monster-text text-content titles text-center pb-3"><span class="colour-3">Grown-up</span> <span class="colour-6">Monsters</span></h1>
            <p class="text-center colour-light">Hello, {{ first_name }}</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="text-center titles colour-2 pb-5">Your Child's Last Logged Mood</h1>
            <div class="row justify-content-center">
    <div class="col-md-6 mb-4">
        {% if last_mood %}
            <div class="card h-100 text-center">
                <!-- Image dynamically loaded from database -->
                <img class="card-img-top img-fluid" src="{{ url_for('static', filename=last_mood['mood_image_url']) }}" alt="Mood Image">
                <div class="card-body mood-diary-info">
                    <!-- Mood name dynamically loaded from database -->
                    <h4 class="card-title titles colour-6">{{ last_mood.mood_name }}</h4>
                    <p class="diary-date">Date Logged: <br>{{ last_mood.date_logged.strftime('%Y-%m-%d %H:%M') }}</p>
                </div>
            </div>
        {% else %}
            <div class="card h-100 text-center">
                <div class="card-body">
                    <p>No mood logs available.</p>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<!--            <div class="row justify-content-center">-->
<!--                <div class="col-md-6 mb-4">-->
<!--                    <div class="card h-100 text-center">-->
<!--                        &lt;!&ndash; Image dynamically loaded from database &ndash;&gt;-->
<!--                        <img class="card-img-top img-fluid" src="/static/images/2_sad_monster.jpeg" alt="">-->
<!--                        <div class="card-body mood-diary-info">-->
<!--                            &lt;!&ndash; Mood name dynamically loaded from database &ndash;&gt;-->
<!--                            <h4 class="card-title titles colour-6">(Dynamic Mood)</h4>-->
<!--                            <p class="diary-date">Date Logged: <br>Update to dynamic date</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="pt-4">
                <p class="colour-light">Your child's emotions are important. Send a personalised message to cheer them up, soothe their worries, or celebrate their happiness.</p>
                <p class="colour-light">Choose your words with love and encouragement, reminding them that they are supported no matter how they feel.</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10 pt-4">
            <!-- Display form to send message -->
            <form action="{{ url_for('send_message_route') }}" method="post">
                <input type="hidden" name="child_id" value="{{ child_info.child_id }}">
                <input type="hidden" name="grown_up_id" value="{{ grown_up_info.grown_up_id }}">
                <div class="entry grownup-entry">
                    <textarea id="message" name="message" placeholder="Send your child a message of support..."></textarea>
                </div>
                <div class="text-center">
                    <input type="submit" value="Send Message" class="btn btn-primary rounded-pill border-2 mt-2 px-4 py-2">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Section for Monitoring Child's Mood (Wave Top)-->
<div class="container-fluid wave-top-bottom gradient-colour-1 pt-5 pb-2">
    <div class="container col-md-10 py-5">
        <div class="row justify-content-center py-5">
            <div class="py-5">
                <h1 class="text-center titles colour-2">Monitor Your Child's Mood</h1>
                <div class="py-4">
                <p class="colour-light">Keep track of your child's emotional journey by visiting their mood diary and checking the badges they've earned. This insight can help you understand their feelings better and guide them through their emotions with greater empathy and support.</p>
                </div>
                <div class="center-button d-flex flex-column flex-md-row justify-content-center align-items-center w-100">
                    <div class="btn btn-primary rounded-pill border-2 m-4 px-5 py-3 d-flex justify-content-center w-100">
                        <a href="{{ url_for('mood_diary', child_id=child_info.child_id) }}" class="text-decoration-none text-white">View Your Child's Mood Diary</a>
                    </div>
                    <div class="btn btn-primary rounded-pill border-2 m-4 px-5 py-3 d-flex justify-content-center w-100">
                        <a href="{{ url_for('badges_page', child_id=child_info.child_id) }}">View Your Child's Badges</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section for Mood Resources for Grown-ups (No Wave)-->
<div class="container-fluid">
    <div class="container col-md-10 pb-5">
        <h1 class="text-center titles colour-2 pb-4">Mood Resources for Grown-ups</h1>
        <div class="pt-4">
                <p class="colour-light">Explore a variety of resources tailored to help you guide your child through their emotions, whether they're feeling happy, sad, angry, ashamed, worried, or lonely.</p>
                <p class="colour-light">Each mood has specific strategies and tips designed to equip you with the best ways to respond and connect with your child.</p>
            </div>
        <div class="row px-2 py-5">
            <!-- Zones of Regulation -->
            <div class="col-xl-6 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top img-fluid" src="/static/images/parent_shy.jpg" alt="Shy Mood Monster">
                    <div class="card-body">
                        <h1 class="card-title titles colour-6">Zones of Regulation</h1>
                        <p>A Simple Approach to Developing Self-Regulation.</p>
                        <p>At The Zones of Regulation, we empower learners of all ages to understand the full range of their feelings, as well as explore tools and strategies to support their well-being.</p>
                        <a class="btn btn-primary rounded-pill border-2 mt-2 px-4 py-2 fs-5" href="https://zonesofregulation.com/" target="_blank">View Resources</a>
                    </div>
                </div>
            </div>

            <!-- Health for Kids -->
            <div class="col-xl-6 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top img-fluid" src="/static/images/parent_weird_mood_monster.jpg" alt="Weird Mood Monster">
                    <div class="card-body">
                        <h1 class="card-title titles colour-4">Health for Kids</h1>
                        <p>The best possible start in life. Health advice to help your children grow and flourish.</p>
                        <p>Health for Kids is primarily a health information and promotion website, covering important features of a child’s health and development, including healthy minds, healthy bodies, health issues and where to get professional help and support. Users can also find out about accessing support from local services. </p>
                        <a class="btn btn-primary rounded-pill border-2 mt-2 px-4 py-2 fs-5" href="https://www.healthforkids.co.uk/grownups/" target="_blank">View Resources</a>
                    </div>
                </div>
            </div>

            <!-- BBC Children in Need -->
            <div class="col-xl-6 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top img-fluid" src="/static/images/parent_worried.jpg" alt="Worried Monster">
                    <div class="card-body">
                        <h1 class="card-title titles colour-red">BBC Children in Need</h1>
                        <p>Mental Heath & Wellbeing Resource Hub.</p>
                        <p>A special collection of fun wellbeing activities, handy resources and further support for families and schools to explore at home.</p>
                        <a class="btn btn-primary rounded-pill border-2 mt-2 px-4 py-2 fs-5" href="https://www.bbcchildreninneed.co.uk/changing-lives/mental-health/mental-heath-wellbeing-resource-hub/" target="_blank">View Resources</a>
                    </div>
                </div>
            </div>

            <!--   Place 2be     -->
            <div class="col-xl-6 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top img-fluid" src="/static/images/parent_content.jpg" alt="Content Monster">
                    <div class="card-body">
                        <h1 class="card-title titles colour-1">Place 2be</h1>
                        <p>Parenting advice from our child mental health experts. Practical tips to support children’s wellbeing and behaviour.</p>
                        <p>Over 50 topics included, from a child not wanting to go to school, to managing feeling sad, sibling rivalry or separation anxiety. Each topic contains a video and activity to address the problem with the child. </p>
                        <a class="btn btn-primary rounded-pill border-2 mt-2 px-4 py-2 fs-5" href="https://parentingsmart.place2be.org.uk/" target="_blank">View Resources</a>
                    </div>
                </div>
            </div>

            <!-- Sesame Street -->
            <div class="col-xl-6 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top img-fluid" src="/static/images/parent_pensive.jpg" alt="Pensive Monster">
                    <div class="card-body">
                        <h1 class="card-title titles colour-3">Sesame Street</h1>
                        <p>Feelings and Emotions Sesame Street Workshop.</p>
                        <p>A YouTube playlist of videos from the television series where characters help each other identify and discuss their emotions.</p>
                        <a class="btn btn-primary rounded-pill border-2 mt-2 px-4 py-2 fs-5" href="https://www.youtube.com/playlist?list=PLQJaFRtaBs0rE0IHegX8Grq2lMjkJSbKL" target="_blank">View Resources</a>
                    </div>
                </div>
            </div>

            <!-- PBS Kids for Parents -->
            <div class="col-xl-6 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top img-fluid" src="/static/images/parent_confused.jpg" alt="Confused Monster">
                    <div class="card-body">
                        <h1 class="card-title titles colour-4">PBS Kids for Parents</h1>
                        <p>Find Ways to Play.</p>
                        <p>Emotions & Self-Awareness activities and games resource hub.</p>
                        <a class="btn btn-primary rounded-pill border-2 mt-2 px-4 py-2 fs-5" href="https://www.pbs.org/parents/learn-grow/age-6/emotions-self-awareness" target="_blank">View Resources</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

