{% extends "layout.html" %}
{% block body_content %}
<div class="container-xxl pt-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h1 class="display-1 text-center mb-4"><span class="colour-6">Mood</span> <span class="colour-3">Monsters</span></h1>
            <p class="text-center colour-light">Hello {{ first_name }}, how are you feeling today?</p>
            <p class="text-center colour-light"> Select the monster that best fits your mood</p>
        </div>
    </div>
    <div class="row px-3 mt-4">
        <!-- Happy Monster -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top img-fluid" src="/static/images/1_happy_monster.jpeg" alt="Happy Monster">
                <div class="card-body">
                    <h4 class="card-title titles colour-6">Happy</h4>
                    <button class="btn btn-primary rounded-pill border-2 mt-2 px-4 py-2 fs-5" onclick="selectMood('happy')">Select</button>
                </div>
            </div>
        </div>

        <!-- Sad Monster -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top img-fluid" src="/static/images/2_sad_monster.jpeg" alt="Sad Monster">
                <div class="card-body">
                    <h4 class="card-title titles colour-4">Sad</h4>
                    <button class="btn btn-primary rounded-pill border-2 mt-2 px-4 py-2 fs-5" onclick="showPopupSad()">Select</button> <!-- Call showPopupSad() here -->
                </div>
            </div>
        </div>

        <!-- Popup for sad monster with additional div for styling -->
        <div id="popup-sad" class="popup" style="display: none;">
            <div class="popup-content">
                <p>Is this correct?</p>
                <button class="btn rounded-pill border-2 mt-2 px-4 py-2 fs-5" onclick="yesFeelSad()">Yes, I feel sad</button>
                <button class="btn rounded-pill border-2 mt-2 px-4 py-2 fs-5" onclick="noFeelSad()">No, I do not feel sad</button>
                <br>
                <a href="#" onclick="hidePopupSad()">Close</a>
            </div>
        </div>

        <!-- Angry Monster -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top img-fluid" src="/static/images/3_angry_monster.jpeg" alt="Angry Monster">
                <div class="card-body">
                    <h4 class="card-title titles colour-red">Angry</h4>
                    <button class="btn btn-primary rounded-pill border-2 mt-2 px-4 py-2 fs-5" onclick="showPopupAngry()">Select</button>
                </div>
            </div>
        </div>

        <!-- Popup for angry monster with additional div for styling -->
        <div id="popup-angry" class="popup" style="display: none;">
        <div class="popup-content">
            <p>Is this correct?</p>
            <button class="btn rounded-pill border-2 mt-2 px-4 py-2 fs-5" onclick="yesFeelAngry()">Yes, I feel angry</button>
            <button class="btn rounded-pill border-2 mt-2 px-4 py-2 fs-5" onclick="noFeelAngry()">No, I do not feel angry</button>
            <br>
            <a href="#" onclick="hidePopupAngry()">Close</a>
        </div>
        </div>

        <!--   Ashamed monster     -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top img-fluid" src="/static/images/5_mood_monster_ashamed.jpg" alt="Ashamed Monster">
                <div class="card-body">
                    <h4 class="card-title titles colour-1">Ashamed</h4>
                    <button class="btn btn-primary rounded-pill border-2 mt-2 px-4 py-2 fs-5" onclick="selectMood('Ashamed')">Select</button>
                </div>
            </div>
        </div>

        <!-- Worried Monster -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top img-fluid" src="/static/images/4_worried_monster.jpeg" alt="Worried Monster">
                <div class="card-body">
                    <h4 class="card-title titles colour-3">Worried</h4>
                    <button class="btn btn-primary rounded-pill border-2 mt-2 px-4 py-2 fs-5" onclick="showPopupWorried()">Select</button>
                </div>
            </div>
        </div>

        <!-- Popup for worried monster with additional div for styling -->
        <div id="popup-worried" class="popup" style="display: none;">
            <div class="popup-content">
                <p>Is this correct?</p>
                <button class="btn rounded-pill border-2 mt-2 px-4 py-2 fs-5" onclick="yesFeelWorried()">Yes, I feel worried</button>
                <button class="btn rounded-pill border-2 mt-2 px-4 py-2 fs-5" onclick="noFeelWorried()">No, I do not feel worried</button>
                <br>
                <a href="#" onclick="hidePopupWorried()">Close</a>
            </div>
        </div>

        <!-- Lonely Monster -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top img-fluid" src="/static/images/6_mood_monster_lonely.jpeg" alt="Lonely Monster">
                <div class="card-body">
                    <h4 class="card-title titles colour-4">Lonely</h4>
                    <button class="btn btn-primary rounded-pill border-2 mt-2 px-4 py-2 fs-5" onclick="selectMood('lonely')">Select</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section for Mood Diary (No Wave)-->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="row justify-content-center pt-1">
            <div class="col-lg-10">
                <h1 class="text-center titles colour-2">View Your Mood Diary</h1>
                <div class="pt-4">
                    <p class="colour-light">Mood diary blurb / images go here...</p>
                </div>
                <div class="center-button">
                <div class="btn btn-primary rounded-pill border-2 m-4 px-5 py-3 fs-5 fixed-width-wide">
                    <a href="{{ url_for('mood_diary', family_id=session['family_id']) }}" class="text-decoration-none text-white">View Mood Diary</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section for Achievements (Wave Top & Wave Bottom) -->
<div class="container-fluid wave-top-bottom gradient-colour-1 pt-5 pb-2">
    <div class="container pb-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 py-4">
                <h1 class="text-center p-4 titles colour-2">View Your Achievements</h1>
                <div class="pt-2">
                    <p class="colour-light">Achievements blurb / badge images go here...</p>
                </div>
                <!-- button -->
                <div class="center-button">
                <div class="btn btn-primary rounded-pill border-2 m-4 px-5 py-3 fs-5 fixed-width-wide">
                    <a href="#">View Badges</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section for Grown Up Support (No Wave) -->
<div class="container-fluid pb-5">
    <div class="container">
        <div class="row justify-content-center pt-1">
            <div class="col-lg-10">
                <h1 class="text-center titles colour-2">View Your Messages</h1>
                <div class="pt-4">
                    <div class="bubble">
                        <p>Message from your grown-up...</p>
                        {% for message in messages %}
                        <div class="messages-section">
                            <p><strong>From:</strong> {{ message.from_name }}</p>
                            <p><strong>Date:</strong> {{ message.date_sent.strftime('%Y-%m-%d %H:%M') }}</p>
                            <p><strong>Message:</strong> {{ message.message }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--    javascript function for popups-->
<script>

    function showPopupSad() {
        document.getElementById("popup-sad").style.display = "block";
    }

    function hidePopupSad() {
        document.getElementById("popup-sad").style.display = "none";
    }

    function noFeelSad() {
    window.location.href = "/child_dashboard/{{ session['family_id'] }}";
    }

    function yesFeelSad() {
    window.location.href = "/sad_page/{{ session['family_id'] }}";
    }




    function showPopupWorried() {
        document.getElementById("popup-worried").style.display = "block";
    }

    function hidePopupWorried() {
        document.getElementById("popup-worried").style.display = "none";
    }

    function noFeelWorried() {
    window.location.href = "/child_dashboard/{{ session['family_id'] }}";
    }

    function yesFeelWorried() {
        window.location.href = "/worried_page/{{ session['family_id'] }}";
    }



        function showPopupAngry() {
        document.getElementById("popup-angry").style.display = "block";
    }

    function hidePopupAngry() {
        document.getElementById("popup-angry").style.display = "none";
    }

    function noFeelAngry() {
    window.location.href = "/child_dashboard/{{ session['family_id'] }}";
    }

    function yesFeelAngry() {
        window.location.href = "/angry_page/{{ session['family_id'] }}";
    }
</script>


{% endblock %}

