<div class="col-lg-10 pb-5">
                <h1 class="display-1 text-center"><span class="col-6">childdd</span> <span class="col-5">Monsters</span></h1>
                <p class="mb-5 text-center">page</p>
            </div>

{% extends "layout.html" %}
{% block body_content %}
<div class="container">
    <div class="row">
        <!-- Happy Monster -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top img-fluid" src="/static/images/1_happy_monster.jpeg" alt="Happy Monster" style="width: 200px;">
                <div class="card-body">
                    <h4 class="card-title">Happy</h4>
                    <button class="btn btn-primary btn-lg" onclick="selectMood('happy')">Select</button>
                </div>
            </div>
        </div>
        <!-- Sad Monster -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top img-fluid" src="/static/images/sad_monster.png" alt="Sad Monster" style="width: 200px;">
                <div class="card-body">
                    <h4 class="card-title">Sad</h4>
                    <button class="btn btn-primary btn-lg" onclick="selectMood('sad')">Select</button>
                </div>
            </div>
        </div>
        <!-- Content Monster -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top img-fluid" src="/static/images/content_monster.png" alt="Content Monster" style="width: 200px;">
                <div class="card-body">
                    <h4 class="card-title">Content</h4>
                    <button class="btn btn-primary btn-lg" onclick="selectMood('content')">Select</button>
                </div>
            </div>
        </div>
        <!-- Worried Monster -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top img-fluid" src="/static/images/worried_monster.png" alt="Worried Monster" style="width: 200px;">
                <div class="card-body">
                    <h4 class="card-title">Worried</h4>
                    <button class="btn btn-primary btn-lg" onclick="selectMood('worried')">Select</button>
                </div>
            </div>
        </div>
        <!-- Lonely Monster -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top img-fluid" src="/static/images/lonely_monster.png" alt="Lonely Monster" style="width: 200px;">
                <div class="card-body">
                    <h4 class="card-title">Lonely</h4>
                    <button class="btn btn-primary btn-lg" onclick="selectMood('lonely')">Select</button>
                </div>
            </div>
        </div>
        <!-- Angry Monster -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top img-fluid" src="/static/images/angry_monster.png" alt="Angry Monster" style="width: 200px;">
                <div class="card-body">
                    <h4 class="card-title">Angry</h4>
                    <button class="btn btn-primary btn-lg" onclick="selectMood('angry')">Select</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


