{% extends "layout.html" %}
{% block body_content %}

<div class="container-fluid wave-bottom gradient-colour-1 py-5">
     <div class="container">
        <div class="row justify-content-center py-1">
            <h1 class="text-center titles colour-2 pb-4">You are feeling sad</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Sad Monster -->
        <div class="col-lg-4 col-md-6 mb-5">
                <img class="img-fluid rounded border custom-border mb-5" src="/static/images/2_sad_monster.jpeg" alt="Sad Monster">
        </div>
    </div>
</div>
<!-- What Page Does Section (No Wave) -->
<div class="container-fluid">
    <div class="container">
        <div class="row justify-content-center pt-1">
            <div class="col-lg-10">
                <h1 class="text-center titles colour-2">What Page Does Section</h1>
                <div class="pt-5">
                    <p class="text-center titles colour-2"><strong>SUB-HEADING:</strong></p>
                    <br>
                    <p class="colour-light">Blurb goes here......</p>
                    <br><br><br>
                    <p class="text-center titles colour-2"><strong>SUB-HEADING:</strong></p>
                    <br>
                    <p class="colour-light">Blurb goes here......</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mood Diary Section (Wave Top & Wave Bottom) -->
<div class="container-fluid wave-top-bottom gradient-colour-2 pt-5 pb-2 mb-2">
    <div class="container pb-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 py-5">
                <h1 class="text-center p-4 titles colour-2">Mood Diary</h1>
                <div class="pt-2">
                    <p class="colour-light">Mood diary blurb goes here...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Activity Section (No Wave) -->
<div class="container-fluid pb-0">
    <div class="container">
        <div class="row justify-content-center pt-1">
            <div class="col-lg-10">
                <h1 class="text-center titles colour-2">Activity</h1>
                <div class="pt-4">
                    <p class="colour-light">Activity blurb goes here...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Animal Fact (Wave Top & Wave Bottom) -->
<div class="container-fluid wave-top-bottom gradient-colour-1 pt-5 pb-2">
    <div class="container pb-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 py-5">
                <h1 class="text-center p-4 titles colour-2">Animal Fact</h1>
                <div class="pt-2">
                    <p class="colour-light">Animal fact blurb goes here...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Links Section (No Wave) -->
<div class="container-fluid pb-5">
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-lg-10 text-center">
            <!-- buttons -->
            <div class="btn btn-primary rounded-pill border-2 m-4 px-5 py-3 fs-5 fixed-width">
                <a href="#">Diary</a>
            </div>
            <div class="btn btn-primary rounded-pill border-2 m-4 px-5 py-3 fs-5 fixed-width">
                <a href="#">Badges</a>
            </div>
            <div class="btn btn-primary rounded-pill border-2 m-4 px-5 py-3 fs-5 fixed-width">
                <a href="#">Dashboard</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}