html, body {
    height: 100%; /* for sticky footer */
}

/* WEBSITE COLOUR SCHEME */

:root {
    --colour-1: #EF476F; /* pink */
    --colour-2: #FFD166; /* yellow */
    --colour-3: #06D6A0; /* green */
    --colour-4: #118AB2; /* blue */
    --colour-5: #6A4C93; /* purple - additional colour */
    --colour-6: #FB5607; /* orange - additional colour */
    --light: #FDFDFF;
    --dark: #073B4C;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--colour-1); /* lightened yellow */
}

.pink-body {
    background-color: var(--colour-1);
}

.purple-body {
    background-color: var(--colour-5);
}

a {
    text-decoration: none;
}


.hero-section h1, .hero-section p {
    color: var(--light);
}

.hero-section h1 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* ------ TEXT COLOUR CLASSES TO USE IN SPANS ------ */

/* pink text class */
.colour-1 {
    color: var(--colour-1);
}
/* yellow text class */
.colour-2 {
    color: var(--colour-2);
}
/* green text class */
.colour-3 {
    color: var(--colour-3);
}
/* blue text class */
.colour-4 {
    color: var(--colour-4);
}
/* purple text class */
.colour-5 {
    color: var(--colour-5);
}
/* orange text class */
.colour-6 {
    color: var(--colour-6);
}

/* ------ GRADIENT BACKGROUNDS ------ */

/* blue/green gradient */
.gradient-colour-1 {
    background: linear-gradient(45deg, var(--colour-4), var(--colour-3));
}

/* purple/blue gradient */
.gradient-colour-2 {
    background: linear-gradient(45deg, var(--colour-5), var(--colour-4));
}

/* ------ WAVE DIVIDERS ------ */

.wave-bottom {
    --mask:
        radial-gradient(156.84px at 50% calc(100% - 217.5px),#000 99%,#0000 101%) calc(50% - 174px) 0/348px 100%,
        radial-gradient(156.84px at 50% calc(100% + 130.5px),#0000 99%,#000 101%) 50% calc(100% - 87px)/348px 100% repeat-x;
        -webkit-mask: var(--mask);
            mask: var(--mask);
}

.wave-top {
    --mask:
        radial-gradient(194.54px at 50% 261px,#000 99%,#0000 101%) calc(50% - 174px) 0/348px 100%,
        radial-gradient(194.54px at 50% -174px,#0000 99%,#000 101%) 50% 87px/348px 100% repeat-x;
        -webkit-mask: var(--mask);
            mask: var(--mask);
}

.wave-top-bottom {
    --mask:
        radial-gradient(194.54px at 50% 261px,#000 99%,#0000 101%) calc(50% - 174px) 0/348px 51% repeat-x,
        radial-gradient(194.54px at 50% -174px,#0000 99%,#000 101%) 50% 87px/348px calc(51% - 87px) repeat-x,
        radial-gradient(194.54px at 50% calc(100% - 261px),#000 99%,#0000 101%) calc(50% - 174px) 100%/348px 51% repeat-x,
        radial-gradient(194.54px at 50% calc(100% + 174px),#0000 99%,#000 101%) 50% calc(100% - 87px)/348px calc(51% - 87px) repeat-x;
        -webkit-mask: var(--mask);
              mask: var(--mask);
}


/* ------ NAVBAR (& FOOTER) ------ */

.navbar-custom, footer {
    background-color: var(--dark);
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    position: relative; /* Set position to relative */
    z-index: 1000; /* Set a high z-index to bring it to the front */
}

.navbar-custom .navbar-nav {
    flex-direction: row;
    align-items: center;
}

.navbar-custom .navbar-nav .nav-link {
    color: var(--light);
}

.navbar-nav .nav-link + .nav-link::before {
    content: "|";
    padding: 0 30px 0 25px;
    color: var(--light);
}

footer p {
    font-size: 16px;
}


/* ------ FONTS ------ */

.titles {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Baloo 2", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--light);
}

/* ------ BUTTONS ------ */

.btn-primary {
    background-color: var(--colour-6) !important;
    border-color: var(--colour-4) !important;
}

.btn-primary a {
    color: var(--light) !important;
}

.btn-primary:hover {
    background-color: var(--colour-4) !important;
    border-color: var(--colour-6) !important;
}

.btn-primary:focus {
    background-color: var(--colour-4) !important;
    border-color: var(--colour-6) !important;
}

.btn-primary:active {
    background-color: var(--colour-4) !important;
    border-color: var(--colour-6) !important;
}

.btn-primary-toggle {
    background-color: var(--colour-4) !important;
    border-color: var(--colour-6) !important;
    color: var(--light) !important;
}

/* ------ ACCORDION ------ */

.accordion p {
    color: var(--dark);
}

.accordion-item .accordion-button {
    background-color: var(--colour-5) !important; /* Green background */
    color: var(--light) !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.accordion-button:not(.collapsed) {
    background-color: var(--colour-6) !important;
    color: var(--light);
    box-shadow: none;
}

.accordion-button:hover {
    background-color: var(--colour-4);
    color: var(--light);
}

/* FORM INPUT FIELDS */

.border-primary {
    border-color: var(--primary) !important;
}

.section-form {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
    border: 3px solid var(--colour-3);
    border-radius: 10px;
}

/* FORM FIELDS */

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 8px; /* give height to text box, space around text input */
  margin-bottom: 16px;
  border: 2px solid var(--colour-6);
  border-radius: 10px; /* round the borders */
  font-size: 16px;
}

label {
    color: var(--light);
}

.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: 180px;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  border: 3px solid #F04A49;
  z-index: 20;
}

.popup:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

.popup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

body {
  background: offwhite;
  font-family: Arial, sans-serif;
  text-align: center;
}

button {
    margin-top: 50px;
    background-color: rgba(255,255,255,0.3);
    border: 3px solid #F04A49;
    color: #F04A49;
    font-size: 25px;
    padding: 10px 20px;
}

button:hover {
    background-color: #F04A49;
    color: #FFF;
    border: 3px solid #F04A49;
    transition: all 0.3s ease 0s;
}

p {
	margin: 1em 0;
  font-size: 16px;
}


/* POP UP */

.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: 180px;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  border: 3px solid #F04A49;
  z-index: 20;
}

.popup:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

.popup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

body {
  background: offwhite;
  font-family: Arial, sans-serif;
  text-align: center;
}


button:hover {
    background-color: #F04A49;
    color: #FFF;
    border: 3px solid #F04A49;
    transition: all 0.3s ease 0s;
}

p {
	margin: 1em 0;
  font-size: 16px;
}



