html, body {
    height: 100%; /* for sticky footer */
}

/* WEBSITE COLOUR SCHEME */

:root {
    --colour-1: #EF476F; /* pink */
    --colour-2: #FFD166; /* yellow */
    --colour-3: #06D6A0; /* green */
    --colour-4: #118AB2; /* blue */
    --colour-5: #6A4C93; /* purple - additional colour */
    --colour-6: #FB5607; /* orange - additional colour */
    --light: #FDFDFF;
    --dark: #073B4C;
    --red: #F04A49;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--colour-1); /* lightened yellow */
}

.pink-body {
    background-color: var(--colour-1);
}

.purple-body {
    background-color: var(--colour-5);
}

a {
    text-decoration: none;
}


.hero-section h1, .hero-section p {
    color: var(--light);
}

h1 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* ------ TEXT COLOUR CLASSES TO USE IN SPANS ------ */

/* pink text class */
.colour-1 {
    color: var(--colour-1);
}
/* yellow text class */
.colour-2 {
    color: var(--colour-2);
}
/* green text class */
.colour-3 {
    color: var(--colour-3);
}
/* blue text class */
.colour-4 {
    color: var(--colour-4);
}
/* purple text class */
.colour-5 {
    color: var(--colour-5);
}
/* orange text class */
.colour-6 {
    color: var(--colour-6);
}

/* light for text */
.colour-light {
    color: var(--light);
}

/* ------ GRADIENT BACKGROUNDS ------ */

/* blue/green gradient */
.gradient-colour-1 {
    background: linear-gradient(45deg, var(--colour-4), var(--colour-3));
}

/* purple/blue gradient */
.gradient-colour-2 {
    background: linear-gradient(45deg, var(--colour-5), var(--colour-4));
}

/* ------ WAVE DIVIDERS ------ */

/* UPDATED wave - size 70px, curvature highest setting */
.wave-bottom {
  --mask:
    radial-gradient(156.52px at 50% calc(100% - 210px),#000 99%,#0000 101%) calc(50% - 140px) 0/280px 100%,
    radial-gradient(156.52px at 50% calc(100% + 140px),#0000 99%,#000 101%) 50% calc(100% - 70px)/280px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.wave-top {
  --mask:
    radial-gradient(156.52px at 50% 210px,#000 99%,#0000 101%) calc(50% - 140px) 0/280px 100%,
    radial-gradient(156.52px at 50% -140px,#0000 99%,#000 101%) 50% 70px/280px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.wave-top-bottom {
  --mask:
    radial-gradient(156.52px at 50% 210px,#000 99%,#0000 101%) calc(50% - 140px) 0/280px 51% repeat-x,
    radial-gradient(156.52px at 50% -140px,#0000 99%,#000 101%) 50% 70px/280px calc(51% - 70px) repeat-x,
    radial-gradient(156.52px at 50% calc(100% - 210px),#000 99%,#0000 101%) calc(50% - 140px) 100%/280px 51% repeat-x,
    radial-gradient(156.52px at 50% calc(100% + 140px),#0000 99%,#000 101%) 50% calc(100% - 70px)/280px calc(51% - 70px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}


/* ------ NAVBAR (& FOOTER) ------ */

.navbar-custom, footer {
    background-color: var(--dark);
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    position: relative; /* Set position to relative */
    z-index: 1000; /* Set a high z-index to bring it to the front */
}

.navbar-custom .navbar-nav {
    flex-direction: row;
    align-items: center;
}

.navbar-nav .nav-link + .nav-link::before {
    content: "|";
    padding: 0 30px 0 25px;
}

footer p {
    color: var(--light);
    font-size: 16px;
}

a.nav-link {
    color: var(--light) !important;
}


/* ------ FONTS ------ */

.titles {
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p, a, .entry {
    font-family: "Baloo 2", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--light);
}

/* ------ BUTTONS ------ */

.center-button {
    display: flex;
    justify-content: center; /* Aligns horizontally */
    width: 100%; /* Takes full width of the parent */
}

.fixed-width {
    width: 180px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.fixed-width-wide {
    width: 260px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    background-color: var(--colour-6) !important;
    border-color: var(--dark) !important;
    border-style: solid;
}

.btn-primary a {
    color: var(--light) !important;
}

.btn-primary:hover {
    background-color: var(--colour-4) !important;
    border-color: var(--colour-6) !important;
}

.btn-primary:focus {
    background-color: var(--colour-4) !important;
    border-color: var(--colour-6) !important;
}

.btn-primary:active {
    background-color: var(--colour-4) !important;
    border-color: var(--colour-6) !important;
}

.btn-primary-toggle {
    background-color: var(--colour-4) !important;
    border-color: var(--colour-6) !important;
    color: var(--light) !important;
}

/* ------ ACCORDION ------ */

.accordion p {
    color: var(--dark);
}

.accordion-item .accordion-button {
    background-color: var(--colour-5) !important;
    color: var(--light) !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.accordion-button:not(.collapsed) {
    background-color: var(--colour-6) !important;
    color: var(--light);
    box-shadow: none;
}

.accordion-button:hover {
    background-color: var(--colour-4);
    color: var(--light);
}

/* ------ FORM INPUT FIELDS ------ */

.border-primary {
    border-color: var(--primary) !important;
}

.section-form {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
    border: 3px solid var(--colour-3);
    border-radius: 10px;
}

/* ------ FORM FIELDS ------ */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea {
  width: 100%;
  padding: 8px; /* give height to text box, space around text input */
  margin-bottom: 16px;
  border: 2px solid var(--colour-6);
  border-radius: 10px; /* round the borders */
  font-size: 16px;
}

label {
    color: var(--light);
}


/* ------ JOURNAL FORM FIELDS ------ */

.journal-entry {
    border: 3px solid var(--colour-1);
    border-radius: 20px;
    padding: 20px;
    background-color: var(--light);
    max-width: 100%;
    margin: 20px auto;
}

.entry {
    display: block;
    margin: 10px 0;
}

.entry label {
    display: block;
    color: var(--dark);
    margin-bottom: 5px;
}

.entry textarea {
    font-size: 1.3rem;
    width: 100%;
    height: 70px;
    padding: 8px;
    border: 1px solid var(--colour-6);
    resize: vertical;
}


/* ------ BORDERS ------ */

.custom-border {
        border-width: 3px !important;
        border-style: solid !important;
        border-color: var(--colour-6) !important;
        border-radius: 20px !important;
}

.card {
    border-width: 3px !important;
        border-style: solid !important;
        border-color: var(--colour-6) !important;
        border-radius: 20px !important;
}


/* ------ CARD IMAGE ZOOM ANIMATION ------ */

.card {
    position: relative;
    overflow: hidden;
}

.card-img-top {
    width: 100%;  /* Ensures the image is responsive */
    height: auto;  /* Maintains the aspect ratio */
    transition: transform 0.5s ease; /* Ensures the scaling effect is smooth */
}

.card-img-top:hover {
    transform: scale(1.1); /* Enlarges the image by 10% */
    z-index: 0;  /* Ensure the image is behind the card-body */
}

.card-body {
    background-color: #FFF;  /* Fully opaque white */
    padding: 20px;  /* Spacing inside the card-body */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}


/* ------ POP UP ------ */
.popup {
  display: none;
  position: fixed;
  padding: 10px;
  min-width: 280px; /* Ensures the popup doesn't get too narrow */
  max-width: 380px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Centers the popup perfectly */
  background: var(--light);
  border: 3px solid var(--red);
  border-radius: 20px;
  z-index: 20;
  overflow: hidden;
}

.popup:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

.popup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--light);
  z-index: -1;
}

.popup-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px; /* Added more padding for better spacing */
}

.popup-content button {
    background-color: var(--colour-4);
    color: var(--light);
    border: 2px solid var(--colour-6);
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 10px; /* Space between buttons */
}

.popup-content button:first-of-type {
    margin-top: 0; /* No top margin for the first button */
}

.popup-content button:hover {
    background-color: var(--red);
    color: var(--light);
    border: 3px solid var(--red);
    transition: all 0.3s ease;
}

.popup-content a, p {
    color: var(--dark);
    display: block; /* Ensures the link has its own line */
    margin-top: 10px; /* Space after the last button */
}


/* ------ SPEECH BUBBLE ------ */

.bubble {
	min-height: 100px;
	min-width: 70%;
	min-width: 200px;
	background: var(--light);
	display: block;
	margin: 0 auto;
	border-radius: 20px;
	margin-top: 25px;
	text-align: center;
	padding: 15px 30px;
	box-sizing: border-box;
}

.pointer {
	height: 40px;
	width: 40px;
	background: var(--light);
	margin: 0 auto;
	transform: rotate(45deg);
	border-radius: 0 0 5px 0;
	margin-top: -22px;
	position: relative;
	left: calc(0.5vw - 50px);
}

/* ------ MEDIA QUERIES ------ */

/* adjust padding on smaller screens */


@media (max-width: 576px) {
    .container-fluid {
        padding-top: 0;
        padding-bottom: 0;
    }
}








